@import "tailwindcss";

@theme {
  /* Primary color palette */
  --color-primary-50: #fdf8ef;
  --color-primary-100: #f9efdb;
  --color-primary-200: #f2dab2;
  --color-primary-300: #eac387;
  --color-primary-400: #e1a156;
  --color-primary-500: #da8835;
  --color-primary-600: #cc702a;
  --color-primary-700: #a95725;
  --color-primary-800: #884624;
  --color-primary-900: #6e3b20;

  /* Secondary color palette */
  --color-secondary-50: #eff9ff;
  --color-secondary-100: #def2ff;
  --color-secondary-200: #b6e8ff;
  --color-secondary-300: #75d8ff;
  --color-secondary-400: #2cc4ff;
  --color-secondary-500: #009fe3;
  --color-secondary-600: #008ad4;
  --color-secondary-700: #006eab;
  --color-secondary-800: #005d8d;
  --color-secondary-900: #064d74;
  --color-secondary-950: #04314d;
}
