/*BIG CARD*/
.heroBlog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  padding: 20px;
  margin: 80px 0;
}

@media (min-width: 1024px) {
  .heroBlog {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 132px;
    padding-right: 132px;
  }
}

.heroContainer {
  position: relative;
  /* height: 40rem; */
  /* border: 1px solid #009fe3; */
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.heroImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 12px; */
}

.heroOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: white;
  padding: 8px;
  border-radius: 0.5rem;
  background: #e76868;
  font-size: 12px;
}

.heroTitle {
  font-size: 30px;
  font-weight: 400;
  color: #aaa;
  /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
}

.heroText {
  color: #415364;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #d6dee0;
  font-weight: 600;
}

.authorAvatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

/* GROUP CARDS */
.articlesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.articleCard {
  position: relative;
  width: 100%;
  height: 300px;
  /* border: 1px solid #009fe3; */
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 12px; */
}

.articleGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: #ffffff;
  /* background: linear-gradient(to top, #415364, transparent); */
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */
}

.articleContent {
  position: absolute;
  bottom: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */
}

.articleCategory {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 8px;
  background: #8b8c4a;
  color: white;
  font-size: 12px;
  border-radius: 0.5rem;
}

.articleTitle {
  color: #aaa;
  font-size: 20px;
  font-weight: 400;
  /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
}

.articleMeta {
  color: #415364;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 300;
}
