.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
}

.card {
  padding: 20px;
  border: 1px solid #009fe3;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white-cloud);
}

.card h3 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: black;
}

.card h5 {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.card p {
  padding-bottom: 3rem;
}

.btnPagination {
  padding: 10px 20px;
  border: none;
  background: none;
  color: #009fe3;
  font-weight: 600;
  cursor: pointer;
}

.paginationBtns {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem;
  gap: 3rem;
}

.card:active {
  transform: scale(0.98);
}

/* Desktop */

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}
