.section {
  padding: 3rem 1rem;
  /* border-bottom: 1px solid #eee; */
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 10rem;
}

/* LEFT */
.left {
  max-width: 500px;
  padding: 4rem;
}

.title {
  font-size: 2rem;
  color: #1e88c8;
  margin-bottom: 1rem;
}

.subtitle {
  margin-top: 1.5rem;
  color: #1e88c8;
  font-size: 1rem;
}

.left p {
  font-size: 1rem;
  color: #666;
}
.description {
  color: #666;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

/* RIGHT */
.right {
  color: #444;
  line-height: 1.7;
  padding: 4rem;
  font-size: 1.55rem;
}

.reverse {
}

/* TABLET */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .section {
    padding: 5rem 3rem;
  }

  .title {
    font-size: 3rem;
  }
  .reverseContainer {
    flex-direction: row-reverse;
  }
}
