.collapse {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.question {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.answer {
  margin-top: 0.5rem;
  color: #555;
}

.icon {
  margin-left: 1rem;
}

/* .collapseContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapseContent.open {
  max-height: 500px;
} */
