.questionbox {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: clamp(1.6rem, 4vw, 5rem);
}

.section {
  font-size: 1.3rem;
  font-weight: 400;
  color: #009fe3;
  padding-bottom: 0.5rem;
}
.question {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  padding-bottom: clamp(2rem, 4vw, 5rem);
}
