.result {
  background-color: var(--color-sky-blue);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  border: 0.1rem solid #556879;
  background-color: #3e4f60;
  padding: 1.2rem 4.5rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn-ui {
  float: right;
}

.btn:not([disabled]):hover {
  background-color: #32404d;
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}
