.result {
  background-color: var(--color-sky-blue);
  color: var(--color-light);
  border-radius: 1.2rem;
  text-align: center;
  padding: 2rem clamp(1.6rem, 4vw, 3rem);
  font-size: clamp(1.6rem, 3vw, 2rem);
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  color: inherit;
  font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  border: 2px solid #556879;
  background-color: #3e4f60;
  padding: 1.2rem clamp(2.5rem, 5vw, 4.5rem);
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #32404d;
}
