.split {
  display: flex;
  flex-direction: column;
}

.image {
  position: relative;
  width: 100%;
  height: 300px;
}

.imageElement {
  object-fit: cover;
  object-position: center;
}

.content {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.innerContent {
  max-width: 600px;
  width: 100%;

  margin-inline: auto;
}

.content h2 {
  font-weight: 300;
  font-size: 1rem;
  color: #009fe3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.content h4 {
  font-weight: 600;
  font-size: clamp(1.8rem, 3vw, 2.3rem);
  color: rgb(60, 70, 71);
  margin: 1rem 0 2rem;
}

.content p {
  color: rgb(60, 70, 71);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  padding-bottom: 5rem;
  max-width: 550px;
}

/* fullscreen option */

/* Desktop */
@media (min-width: 768px) {
  .split {
    flex-direction: row;
    min-height: 500px;
  }

  .full {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image {
    flex: 1;
    height: auto;
  }

  .content {
    flex: 1;
    padding: 4rem;
    justify-content: center;
    align-items: center;
  }
}

/* IMPORTANT NOTE */
/* - - - - - - - - - - - - - - - - - - - - - - - */
/* You can make a layout Reverse with these CSS lines - SplitSection and SplitSection are basicaççy the same */

/* .splitReverse {
  direction: rtl;
} */

/* OR */

/* .splitReverse > * {
  direction: ltr;
} */
/* - - - - - - - - - - - - - - - - - - - - - - - */
