.st0t {
  fill: #169bd8;
}

.st1t {
  fill: none;
  stroke: #169bd8;
  stroke-dasharray: 2;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.st2t,
.st0A {
  fill: #189cd9;
}

.st0C {
  fill: none;
  stroke: #149ad7;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
