.right {
  max-width: 550px;
}

.text {
  color: rgb(60, 70, 71);
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: 300;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .right {
    padding: 4px;
  }
}
