.teamSection {
  margin-top: 4rem;
}

.teamTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
  color: #009fe3;
}

.teamGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  text-align: center;
}

.avatar {
  /* border-radius: 10px; */
  /* background-color: #009fe3; */
  border-radius: 50%;
  border: 1px solid #009fe3;
  /* object-fit: cover;
  width: 48px;
  height: 48px; */
}

.name {
  font-weight: bold;
  color: black;
}

.email {
  color: blue;
  display: block;
}

.location {
  color: #666;
}

.applyCard {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}

.plus {
  font-size: 2rem;
}

/* Tablet */
@media (min-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .teamGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
