.headerContainer {
  position: fixed;
  top: 2%;
  left: 10%;
  right: 10%;
  z-index: 10;
  overflow: visible;
}

.headerContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(248, 248, 248);
  opacity: 0.9;
  border-radius: 50px 0 0 50px;
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.headerInner {
  padding: 0.75rem 10% 0.75rem 10rem;
}
.header {
  border-left: 2px solid rgb(224, 223, 223);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 10% 0.75rem 5rem;
}

@media (max-width: 1024px) {
  .headerInner {
    padding: 0.75rem 10% 0.75rem 1.5rem;
  }

  .header {
    padding: 0.75rem 10% 0.75rem 2rem;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    left: 5%;
    right: 5%;
  }

  .headerInner {
    padding: 0.5rem 5% 0.5rem 5.25rem;
  }
  .header {
    padding: 0.75rem 10% 0.75rem 2rem;
  }
}

@media (max-width: 480px) {
  .headerContainer {
    left: 3%;
    right: 3%;
  }

  .headerInner {
    padding: 0.5rem 5% 0.5rem 5rem;
  }

  .header {
    padding: 0.75rem 10% 0.75rem 2rem;
  }
}
