.section {
  padding: 3rem 1rem;
}
.mapSection {
  /* padding: 3rem 1rem; */
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* MAP */
.map {
  width: 100%;
  /* height: 300px; */
  /* background: #ddd;  */
  height: 100vh;
}
.info {
  width: 100%;
  padding: 10rem;
  /* display: flex;
  flex-direction: column; */
}
.info p {
  padding-bottom: 2rem;
  color: #415364;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2rem;
  color: #1e88c8;
  margin-bottom: 1rem;
}

.text {
  color: #666;
  line-height: 1.6;
}

.cursosNavigation {
  /* background-color: cadetblue; */
}

.errorMessage {
  font-size: 1.5rem;
  font-weight: 300;
}

/* TABLET */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .map {
    /* width: 50%; */
    height: 100vh;
    z-index: 0;
  }

  .content {
    width: 50%;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .section {
    padding: 5rem 3rem;
  }

  .title {
    font-size: 3rem;
  }
}
