.mapSection {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.map {
  width: 100%;
  height: clamp(300px, 50vh, 500px);
}

.info {
  width: 100%;
  padding: clamp(2rem, 5vw, 5rem);
}

.info p {
  padding-bottom: 2rem;
  color: #415364;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: 300;
  line-height: 1.75;
}

.title {
  font-size: clamp(2rem, 3vw, 3rem);
  color: #1e88c8;
  margin-bottom: 1rem;
}

.cursosNavigation {
}

.errorMessage {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: stretch;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .map {
    height: 70vh;
    z-index: 0;
  }
}

@media (min-width: 1024px) {
  .map {
    height: 100vh;
  }
}
