.wrapper {
  position: relative;
  padding: 2rem 1.5rem;
}

.header {
  text-align: left;
  max-width: 900px;
  padding: clamp(2rem, 6vw, 8rem);
}

.title {
  font-size: clamp(3.2rem, 5vw, 4rem);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  color: #009fe3;
  font-weight: 500;
}

.subtitle {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  color: #555;
}

.imageSection {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.card {
  background: #e76868;
  width: 100%;
  padding: 2rem 1.5rem;
  margin-top: 1.5rem;
}

.cardTop {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #fff;
}

.cardTitle {
  font-size: clamp(1.8rem, 3vw, 2.2rem);
  margin: 1.5rem 0;
  color: #fff;
}

.cardInfo p {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #fff;
}

.email a {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .card {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    width: 90%;
    max-width: 350px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .card {
    left: 4rem;
  }
}
