.left {
  max-width: 500px;
}

.title {
  font-size: clamp(2rem, 3vw, 3rem);
  color: #1e88c8;
  margin-bottom: 1rem;
}

.subtitle {
  margin-top: 1.5rem;
  color: #1e88c8;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.contentText {
  color: rgb(60, 70, 71);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  padding-bottom: 5rem;
  max-width: 550px;
}
@media (min-width: 768px) {
  .left {
    padding: 4px;
  }
}
