.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  /* background-color: bisque; */
}

.label {
  font-size: 1.3rem;
  font-weight: 500;
  color: #009fe3;
}

.error {
  color: red;
  font-size: 0.8rem;
}
