.heading {
  width: 90%;
  max-width: 120rem;
  margin-inline: auto;
  text-align: center;
  padding: 5rem 2rem;
  z-index: 20;
}

.heading h1 {
  /* color: #009fe3; */
  color: #f2dab2;
  font-size: clamp(3.4rem, 6vw, 8rem);
  font-weight: 600;
  line-height: 1.2;
}

.heading p {
  /* color: var(--color-sky-blue); */
  color: rgb(60, 70, 71);
  font-size: clamp(2rem, 2.5vw, 2.2rem);
  font-weight: 200;
  line-height: 1.5;
  margin-top: 1.2rem;
  max-width: 70rem;
  margin-inline: auto;
}
