.heading {
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
  padding: 5rem 2rem;
}

.heading h1 {
  color: #009fe3;
  font-size: clamp(2.4rem, 5vw, 4.8rem);
  font-weight: 600;
  line-height: 1.2;
}

.heading p {
  color: #009fe3;
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  font-weight: 200;
  line-height: 1.5;
  margin-top: 1.2rem;
}
