.layout {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 4fr 1fr;
  }

  .reverse {
    grid-template-columns: 1fr 4fr;
  }
}
